/* BASIC STYLING */
*{box-sizing:border-box; margin:0;}

body{background-color:#fff; font-family:'Nova Flat',Arial;}

/* Go-to-Top Button */
.mytop{display: block;}

.topButton{background-color:inherit; border-radius:100px; bottom:10px; color:#696969; cursor:pointer; display:none; font-size:2.5rem; opacity:0.9; outline:none; padding:1px; position:fixed; right:10px; z-index:99;}
.topButton:hover{opacity:1; transition:opacity 1s;}

/* Navigation Bar */
.icon{display:none;}

.navBar{background-color:inherit; border-bottom:1px solid #f2f2f2; height:70px; padding-top:17px; transition:box-shadow 1s;}
.navBar:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 1s;}

.nickname{background-color:inherit; color:#c0c0c0; display:inline; font-size:140%; margin-left:5%; text-decoration:none; transition:text-shadow 1s;}
.nickname:hover{text-shadow:1px 1px 20px #fff; transition:text-shadow 1s;}

.anchor{color:#696969; display:inline; font-size:150%; margin-left:2%; text-decoration:none; transition:text-shadow 1s;}
.anchor:hover{text-shadow:1px 1px 20px #808080; transition:text-shadow 1s;}

.home{margin-left:35%;}

/* Body One */
.body1{color:#000; height:500px; line-height:2; padding-bottom:500px; padding-left:700px; padding-top:200px;}

hr{color:#00bfff; margin-bottom:5%; margin-left:20%; margin-right:20%; margin-top:5%;}

.hello{color:#696969; font-size:160%; padding:100px; padding-left:0;}

.designer{color:#696969;}

.image{border-radius:1000px; padding:200px; position:absolute; z-index:0;}

.image1{background-image:url('image2.jpg'); left:15%; top:210px;}

.image2{background-image:url('image2.jpg'); right:13%; top:1050px;}

.hire, .cv, .download{background-color:#ff0000; border-radius:83px; color:#fff; cursor:pointer; display:inline-block; font-size:120%; font-weight:100; margin-top:2%; padding:10px 5px; text-align:center; text-decoration:none; width:20%;}
.hire:hover, .cv:hover, .download:hover{}

/* Body Two */
.body2{height:500px; padding-bottom:500px; padding-left:50px; padding-top:200px;}

.let, .services, .recent{color:#696969; font-size:160%; margin-left:3%; padding-bottom:50px; padding-left:0; padding-right:0; padding-top:50px; text-decoration:underline;}

.services{margin-left:41%;}

.introduction{color:#708090; font-size:120%; line-height:1.5; margin-top:2%; padding-left:2%; padding-right:45%;}

span{margin-left:5%;}

.download{margin-left:2%; margin-top:3%; padding:10px; width:11%;}

/* Body Three */
.body3{height:auto; line-height:1.5; padding-bottom:250px; padding-top:200px;}

.column{float:left; margin-left:2%; padding:0 10px; width:30%;}

.row{margin-top:4%;}
.row:after{content:""; display:table; clear:both;}

.card{background-color:inherit; color:#696969; height:300px; padding:16px; text-align:center; transition:box-shadow 0.7s;}
.card:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 0.7s;}

.logo{border-radius:300px; position:absolute; top:2080px; z-index:1;}

.python{background-image:url('python.jpg'); left:13.5%; padding:50px;}

.uiux{background-image:url('uiux.jpg'); left:46%; padding:40px;}

.web{background-image:url('webdesign.jpg'); right:15%; padding:48px;}

.name{margin-top:45%;}

/* Body Four */
.body4{border:1px solid white; height:auto; padding-bottom:500px; padding-left:50px; padding-top:200px;}

/* Footer */
footer{background-color:#dcdcdc; height:200px; margin-top:5%;}



/* SMALL SCREEN */
@media screen and (min-width: 480px) and (max-width: 700px) {
  /* The Navigation Bar */
  a{display:inline;}

  .navBar a:not(:first-child){display:none;}

  .navBar .icon, .navBar{display:block;}

  .navBar{padding-top:3%;}

  .anchor{background-color:inherit; border-radius:0; color:#696969; float:left; height:50px; text-align:center;}

  .nickname{padding-top:26px; padding-bottom:26px}

  .navBar a.icon{background-color:inherit; color:#696969; display:inline; float:right; font-size:150%; height:45px; padding-top:1%; text-align:center; text-decoration:none; width:15%;}
  .navBar a.icon:hover{text-shadow:1px 1px 20px #000; transition:text-shadow 1s;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{height:557px; position:relative; transition:width 1s; width:100%; z-index:10;}

  .navBar.responsive .icon{color:#696969; font-size:150%; height:70px; padding-top:3%; position:absolute; right:0; text-align:center; top:0; width:20%;}
  .navBar.responsive .icon:hover{text-shadow:1px 1px 20px #f2f2f2; transition:text-shadow 1s;}

  .navBar.responsive .nickname{height:70px;}

  .navBar.responsive .anchor{color:#696969; display:block; float:none; font-size:130%; height:70px; margin-left:0; padding-right:7%; padding-top:5%; text-align:right; width:100%;}
  .navBar.responsive .anchor:hover{color:#000; transition:color 1s;}

  .navBar.responsive .home{margin-left:0; margin-top:5.55%;}

  /* Body One */
  .body1{height:auto; line-height:1.5; margin-bottom:13%; padding-bottom:100px; padding-left:0; padding-top:90px; text-align:center;}

  .image1{background-image:url('image2b.jpg'); border-radius:1000px; margin-bottom:5%; margin-left:20%; padding:150px; position:static; width:30%;}

  .hello{margin-left:25%;}

  .hire, .cv{width:23%;}

  /* Body Two */
  .body2{height:auto; line-height:1.5; padding-left:0; margin-top:13%; padding-bottom:100px; padding-right:0; padding-top:90px; text-align:center;}

  .image2{background-image: url('image2b.jpg'); border-radius:1000px; margin-bottom:5%; margin-left:20%; padding:150px; position:static; width:30%;}

  .let{margin-top:8%}

  .introduction{padding-left:5%; padding-right:5%;}

  span{margin-left:0;}

  .download{width:35%;}

  /* Body Three */
  .body3{border:1px solid; padding-bottom:50px; padding-top:90px;}

  .services{margin-bottom:4%; margin-left:30%;}

  .python, .uiux, .web{border-radius:300px; margin-left:38%; padding:50px; position:static; width:10%;}

  .name{margin-top:4%;}

  .column{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  /* Body Four */
  .body4{border:1px solid red; height:auto; padding-bottom:100px; padding-top:90px; text-align:center;}

  /* Footer */
  footer{}
}


/* SMALLER SCREEN */
@media screen and (max-width: 480px) {
  /* Go-to-Top Button */
  .topButton{bottom:1px; right:1px;}

  /* The Navigation Bar */
  a{display:inline;}

  .navBar a:not(:first-child){display:none;}

  .navBar .icon, .navBar{display:block;}

  .navBar{padding-top:3%;}

  .anchor{background-color:inherit; border-radius:0; color:#696969; float:left; height:50px; text-align:center;}

  .nickname{padding-top:26px; padding-bottom:26px}

  .navBar a.icon{background-color:inherit; color:#696969; display:inline; float:right; font-size:150%; height:45px; padding-top:1%; text-align:center; text-decoration:none; transition:text-shadow 0.8s; width:20%;}
  .navBar a.icon:hover{text-shadow:1px 1px 20px #000; transition:text-shadow 1s;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{height:557px; position:relative; transition:width 1s; width:100%; z-index:10;}

  .navBar.responsive .icon{color:#696969; font-size:150%; height:70px; padding-top:3%; position:absolute; right:0; text-align:center; top:0; transition:text-shadow 0.8s; width:20%;}
  .navBar.responsive .icon:hover{text-shadow:1px 1px 20px #000; transition:text-shadow 0.8s;}

  .navBar.responsive .nickname{height:70px;}

  .navBar.responsive .anchor{color:#696969; display:block; float:none; font-size:130%; height:80px; margin-left:0; padding-right:7%; padding-top:5%; text-align:right; width:100%;}
  .navBar.responsive .anchor:hover{color:#000; transition:color 1s;}

  .navBar.responsive .home{margin-left:0; margin-top:5.55%;}

  /* Body One */
  .body1{height:auto; line-height:1.5; margin-bottom:13%; padding-bottom:100px; padding-left:0; padding-top:90px; text-align:center;}

  .image1{background-image:url('image2b.jpg'); border-radius:1000px; margin-bottom:5%; margin-left:10%; padding:120px; position:static; width:30%;}

  .hello{font-size:120%; margin-left:25%;}

  h1{font-size:140%;}

  .designer{font-size:120%}

  .hire, .cv{width:33%;}

  /* Body Two */
  .body2{height:auto; line-height:1.5; padding-left:0; margin-top:13%; padding-bottom:100px; padding-right:0; padding-top:90px; text-align:center;}

  .image2{background-image: url('image2b.jpg'); border-radius:1000px; margin-bottom:5%; margin-left:10%; padding:120px; position:static; width:30%;}

  .let{font-size:130%; margin-top:8%}

  .introduction{font-size:110%; padding-left:5%; padding-right:5%;}

  span{margin-left:0;}

  .download{width:45%;}

  /* Body Three */
  .body3{border:1px solid; padding-bottom:50px; padding-top:90px;}

  .services{margin-bottom:4%; margin-left:15%;}

  .python, .uiux, .web{border-radius:300px; margin-left:34%; padding:50px; position:static; width:10%;}

  .name{margin-top:4%;}

  .column{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  /* Body Four */
  .body4{border:1px solid red; height:auto; padding-bottom:100px; padding-left:0; padding-top:90px; text-align:center;}

  .recent{font-size:130%;}

  /* Footer */
  footer{}
}


/* TABLET SCREEN */
@media screen and (min-width: 700px) and (max-width: 1300px) {
  /* The Navigation Bar */
  a{display:inline;}

  .navBar a:not(:first-child){display:none;}

  .navBar .icon, .navBar{display:block;}

  .navBar{padding-top:1%;}

  .anchor{background-color:inherit; border-radius:0; color:#696969; float:left; height:50px; text-align:center;}

  .nickname{padding-top:26px; padding-bottom:26px}

  .navBar a.icon{background-color:inherit; color:#696969; display:inline; float:right; font-size:150%; height:45px; padding-top:1%; text-align:center; text-decoration:none; width:15%;}
  .navBar a.icon:hover{text-shadow:1px 1px 20px #000; transition:text-shadow 1s;}

  /* The Responsive Navigation Bar */
  .navBar.responsive{height:557px; position:relative; transition:width 1s; width:100%; z-index:10;}

  .navBar.responsive .icon{color:#696969; font-size:150%; height:70px; padding-top:2%; position:absolute; right:0; text-align:center; top:0; width:20%;}
  .navBar.responsive .icon:hover{text-shadow:1px 1px 20px #f2f2f2; transition:text-shadow 1s;}

  .navBar.responsive .nickname{height:70px;}

  .navBar.responsive .anchor{color:#696969; display:block; float:none; font-size:130%; height:80px; margin-left:0; padding-right:7%; padding-top:2%; text-align:right; width:100%;}
  .navBar.responsive .anchor:hover{color:#000; transition:color 1s;}

  .navBar.responsive .home{margin-left:0; margin-top:3.55%;}

  /* Body One */
  .body1{height:auto; line-height:1.5; margin-bottom:13%; padding-bottom:100px; padding-left:0; padding-top:90px; text-align:center;}

  .image1{background-image:url('image2b.jpg'); border-radius:1000px; margin-bottom:5%; margin-left:35%; padding:150px; position:static; width:30%;}

  .hello{margin-left:15%;}

  .hire, .cv{width:13%;}

  /* Body Two */
  .body2{height:auto; line-height:1.5; padding-left:0; margin-top:13%; padding-bottom:100px; padding-right:0; padding-top:90px; text-align:center;}

  .image2{background-image: url('image2b.jpg'); border-radius:1000px; margin-bottom:5%; margin-left:35%; padding:150px; position:static; width:30%;}

  .let{margin-top:8%}

  .introduction{padding-left:5%; padding-right:5%;}

  span{margin-left:0;}

  .download{width:15%;}

  /* Body Three */
  .body3{border:1px solid; padding-bottom:50px; padding-top:90px;}

  .services{margin-bottom:4%; margin-left:40%;}

  .python, .uiux, .web{border-radius:300px; margin-left:45%; padding:50px; position:static; width:10%;}

  .name{margin-top:4%;}

  .column{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  /* Body Four */
  .body4{border:1px solid red; height:auto; padding-bottom:100px; padding-top:90px; text-align:center;}

  /* Footer */
  footer{}
}
