/* BASIC STYLING */
*{box-sizing:border-box; margin:0;}

body{background-color:#FFF; font-family:'Montserrat','Rubik','Nova Flat',Arial;}

/* Go-to-Top Button */
.mytop{display:block;}

.topButton{border-radius:100px; bottom:10px; color:#696969; cursor:pointer; display:none; font-size:2.5rem; outline:none; padding:1px; position:fixed; right:10px; text-shadow:0px 3px 3px #808080; transition:color 1s; z-index:99;}
.topButton:hover{color:#000; transition:color 1s;}

/* Navigation Bar */
.navBar{border-bottom:1px solid #F2F2F2; height:70px; padding-top:17px; transition:box-shadow 1s;}
.navBar:hover{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 1s;}

.nickname{color:#A9A9A9; display:inline; font-size:140%; margin-left:5%; text-decoration:none; transition:text-shadow 1s;}
.nickname:hover{text-shadow:1px 1px 20px #FFF; transition:text-shadow 1s;}

.anchor{color:#696969; display:inline; font-size:150%; margin-left:2%; text-decoration:none; transition:text-shadow 1s;}
.anchor:hover{text-shadow:0px 3px 5px #808080; transition:text-shadow 1s;}

.home{margin-left:35%;}

.icon{display:none;}

/* Body One */
.body1{color:#000; font-family:'Nova Flat',Arial; height:500px; line-height:2; padding-bottom:500px; padding-left:700px; padding-top:200px;}

.about{padding:50px; display:block;}

.image{border-radius:1000px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); position:absolute; z-index:0;}

.image1{background-image: url("image1a.jpg"); padding:170px; left:15%; top:210px; transition:box-shadow 1s;}
.image1:hover{box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); transition:box-shadow 1s;}

.hello, .designer{color:#696969;}

.cv, .download, .hire, .visit{background-color:#FF0000; border-radius:83px; box-shadow:none; color:#FFF; cursor:pointer; display:inline-block; font-size:120%; font-weight:100; margin-top:2%; padding:7px 0px; text-align:center; text-decoration:none; transition:box-shadow 0.7s; transition:width 1s; width:20%;}
.cv:hover, .download:hover, .hire:hover, .visit:hover{box-shadow: 3px 6px 10px 0 #FFA07A; transition:box-shadow 0.7s; transition:width 1s; width:21%;}

.cv{background-color:#FFF; border:1px solid; color:#FF0000; transition:box-shadow 0.7s; transition:text-shadow 0.7s; transition:width 1s;}
.cv:hover{text-shadow:3px 3px 5px #FFA07A; transition:box-shadow 0.7s; transition:text-shadow 0.7s; transition:width 1s;}


/* The Line */
hr{margin-bottom:5%; margin-left:20%; margin-right:20%; margin-top:5%;}

/* Body Two */
.body2{height:500px; padding-bottom:500px; padding-left:50px; padding-top:200px;}

.image2{background-image:url('image2a.jpg'); padding:200px; right:13%; top:1150px;}

.let, .recent, .services{color:#696969; font-size:160%; margin-left:3%; padding-bottom:50px; padding-left:0; padding-right:0; padding-top:50px; text-shadow:0px 5px 5px #808080;}

.introduction{color:#708090; font-size:120%; line-height:1.5; margin-top:1%; padding-left:2%; padding-right:45%;}

span{margin-left:5%;}

.download{margin-left:2%; padding:10px 5px; width:12%;}
.download:hover{width:13%;}

/* Body Three */
.body3{height:auto; line-height:1.5; padding-bottom:250px; padding-top:200px;}

.services{margin-left:42%;}

.row{margin-top:4%;}
.row:after{content:""; clear:both; display:table;}

.column{float:left; margin-left:2%; margin-top:-2%; padding:0 10px; width:30%;}

.card{border-radius:30px; color:#696969; height:300px; padding:16px; text-align:center; transition:box-shadow 0.7s;}
.card:hover{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 0.7s;}

.logo{border-radius:300px; box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); position:absolute; top:2150px; z-index:1;}

.python{background-image:url('python.jpg'); left:13.5%; padding:50px;}

.uiux{background-image:url('uiux.jpg'); left:45%; padding:50px;}

.web{background-image:url('webdesign.jpg'); padding:48px; right:15%;}

.name{margin-top:45%;}

/* Body Four */
.body4{height:auto; padding-bottom:100px; padding-top:200px;}

.recent{margin-left:25%;}

.column2{float:left; margin-left:0; width:100%;}

.card2{border:2px solid #F2F2F2; border-radius:5px; color:#696969; height:650px; margin-left:20%; text-align:center; transition:box-shadow 0.7s; width:60%}
.card2:hover{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 0.7s;}

.imagecard{margin-top:3%;}

.siteimage{border-radius:5px; height:533px; padding:100px;}

.image3{background-image:url("image3a.jpg");}

.image4{background-image:url("image4a.jpg");}

.image5{background-image:url("image5a.jpg");}

.visit{margin-top:4%; width:15%;}
.visit:hover{width:16%;}

/* Footer */
footer{background-color:#DCDCDC; color:#808080; height:230px; padding-top:20px; text-align:center;}

.follow{margin-top:1.5%;}

.icons{color:#696969; font-size:200%; margin-bottom:1.5%; margin-right:1%; margin-top:1.5%; transition:text-shadow 1s;}
.icons:hover{text-shadow:0px 1px 3px #808080; transition:text-shadow 1s;}

.instagram{margin-left:1.5%;}


/* OTHER SCREENS */
@media screen and (max-width: 1300px) {
  /* The Navigation Bar */
  a{display:inline;}

  .navBar a:not(:first-child){display:none;}

  .icon, .navBar{display:block;}

  .anchor{border-radius:0; color:#696969; float:left; height:50px; text-align:center;}

  .nickname{padding-bottom:26px; padding-top:26px;}

  .navBar a.icon{color:#696969; display:inline; float:right; font-size:150%; height:45px; text-align:center; text-decoration:none; width:20%;}
  .navBar a.icon:hover{text-shadow:1px 1px 20px #000; transition:text-shadow 1s;}

  /* The Responsive Navigation Bar */
  .responsive{height:557px; padding:20px; padding-left:0; padding-right:0; position:relative; transition:box-shadow 1s; transition:width 1s; width:100%; z-index:10;}
  .responsive:hover{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); transition:box-shadow 1s;}

  .responsive .icon{color:#696969; font-size:150%; height:67px; padding-top:17px; position:absolute; right:0; text-align:center; top:0; transition:text-shadow 1s;}
  .responsive .icon:hover{text-shadow:1px 1px 20px #000; transition:text-shadow 1s;}

  .responsive a.anchor{color:#696969; display:block; float:none; font-size:130%; margin-left:0; padding-right:5%; text-align:right; width:100%;}

  .responsive .home{margin-left:0;}

  /* Body One */
  .body1{height:auto; line-height:1.5; margin-bottom:13%; padding-bottom:100px; padding-left:0; padding-top:90px; text-align:center;}

  .image{border-radius:1000px; margin-bottom:5%; position:static; width:30%;}

  .hello{margin-top:2%; width:100%;}

  /* Body Two */
  .body2{height:auto; line-height:1.5; margin-top:13%; padding-bottom:100px; padding-left:0; padding-right:0; padding-top:90px; text-align:center;}

  .let{margin-top:8%}

  .introduction{padding-left:5%; padding-right:5%;}

  span{margin-left:0;}

  .download{margin-top:3%;}

  /* Body Three */
  .body3{padding-bottom:50px; padding-top:90px;}

  .services{margin-bottom:4%;}

  .python, .uiux, .web{border-radius:300px; padding:50px; position:static; width:10%;}

  .name{margin-top:4%;}

  .column{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  /* Body Four */
  .body4{height:auto; padding-top:90px; text-align:center;}

  /* Footer */
  footer{}
}


/* SMALL SCREEN */
@media screen and (min-width: 480px) and (max-width: 700px) {
  /* Go-to-Top Button */
  .topButton{bottom:2px; right:2px;}

  /* The Navigation Bar */
  .navBar{padding-top:3%;}

  .icon{padding-top:1%; width:15%;}

  /* The Responsive Navigation Bar */
  .responsive .anchor{height:70px; padding-top:5%;}

  .responsive .home{margin-top:5%;}

  .responsive .nickname{padding:2%;}

  /* Body One */
  .image{margin-left:20%; padding:150px;}

  .image1{background-image:url("image1b.jpg");}

  .cv, .hire{width:23%;}
  .cv:hover, .hire:hover{width:24%;}

  /* Body Two */
  .image2{background-image:url('image2b.jpg');}

  .download{width:35%;}
  .download:hover{width:36%;}

  /* Body Three */
  .services{margin-left:-13%;}

  .python, .uiux, .web{margin-left:38%;}

  /* Body Four */
  .recent{margin-left:-40%;}

  .column2{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  .card2{height:350px; margin-left:10%; width:80%;}

  .siteimage{border-radius:5px; height:267px;}

  .image3{background-image:url("image3b.jpg");}

  .image4{background-image:url("image4b.jpg");}

  .image5{background-image:url("image5b.jpg");}

  .visit{width:30%;}
  .visit:hover{width:31%;}

  /* Footer */
  .follow{margin-top:2.5%;}

  .icons{margin-bottom:2.5%; margin-top:2.5%;}
}


/* SMALLER SCREEN */
@media screen and (max-width: 480px) {
  /* Go-to-Top Button */
  .topButton{bottom:1px; right:1px;}

  /* The Navigation Bar */
  .navBar{padding-top:5%;}

  .icon{padding-top:0; width:20%;}

  /* The Responsive Navigation Bar */
  .responsive .anchor{height:80px; padding-top:5%;}

  .responsive .home{margin-top:5.55%;}

  .responsive .nickname{padding:2%;}

  /* Body One */
  .image{margin-left:10%; padding:120px;}

  .image1{background-image: url("image1c.jpg");}

  .hello{font-size:120%;}

  h1{font-size:140%;}

  .designer{font-size:120%}

  .cv, .download, .hire{font-size:80%; width:29%;}
  .cv:hover, .hire:hover{width:30%;}

  .download{width:40%;}
  .download:hover{width:41%;}

  /* Body Three */
  .services{margin-left:15%;}

  .python, .uiux, .web{margin-left:34%;}

  /* Body Four */
  .recent{font-size:130%; margin-left:3%;}

  .column2{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  .card2{height:250px; margin-left:10%; margin-top:5%; width:80%;}

  .siteimage{border-radius:5px; height:167px; padding:80px;}

  .image3{background-image:url("image3c.jpg");}

  .image4{background-image:url("image4c.jpg");}

  .image5{background-image:url("image5c.jpg");}

  .visit{width:45%;}
  .visit:hover{width:46%;}

  /* Footer */
  footer{height:200px;}

  .follow{margin-top:2.5%;}

  .icons{margin-bottom:2.5%; margin-top:2.5%;}
}


/* TABLET SCREEN */
@media screen and (min-width: 700px) and (max-width: 1300px) {
  /* Go-to-Top Button */
  .topButton{bottom:5px; right:5px;}

  /* The Navigation Bar */
  .navBar{padding-top:1.5%;}

  .navBar a.icon{padding-top:7px; width:15%;}

  /* The Responsive Navigation Bar */
  .responsive .anchor{height:80px; padding-right:6%; padding-top:2%;}

  .responsive .icon{width:15%;}

  .responsive .home{margin-top:3.55%;}

  /* Body One */
  .image{margin-left:35%; padding:150px;}

  .image1{padding:170px;}

  .cv, .hire{width:13%;}
  .cv:hover, .hire:hover{width:14%;}

  /* Body Two */
  .download{width:19%;}
  .download:hover{width:20%;}

  /* Body Three */
  .services{margin-left:18%;}

  .python, .uiux, .web{margin-left:45%;}

  /* Body Four */
  .recent{margin-left:16%;}

  .column2{display:block; margin-bottom:25px; margin-left:0; width:100%;}

  .card2{margin-left:10%; margin-top:10%; width:80%;}

  .visit{width:30%;}
  .visit:hover{width:31%;}

  /* Footer */
  footer{}
}
